<div style="display: flex; flex-direction: column;">
  <img src="http://image-source-lsy.oss-cn-shenzhen.aliyuncs.com/static/images/blow.gif" alt="">
  <h1><%= title %></h1>
  <p><%= desc %></p>
  <p><%= code %></p>
</div>
